.banner {
  margin-bottom: $gutter;
  padding: $gutter / 2;
  background: $darkblue;

  @include respond-to('medium') {
    margin-bottom: $gutter * 2;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: $white;
  }

  &__cta {
    display: inline-block;
    padding: ($gutter / 4) ($gutter);
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(180deg, #f89b11 0%, #f85611 100%);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #00000070;

    @include respond-to("large") {
      display: none;
    }
  }

  &__coins {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    @include respond-to("large") {
      display: flex;
    }
  }

  &__coin {
    padding: 0 $gutter;
    border-right: 1px solid rgba($white, 0.07);
  }

  &__coin-name {
    color: #e2b865;
  }

  &__coin-price {
    padding: ($gutter / 4) 0;
    font-weight: 600;
    color: $white;
  }

  &__coin-percent {
    font-size: 12px;

    &--minus {
      color: #ff4a4a;
    }

    &--plus {
      color: #11d8b6;
    }
  }
}
