.convinced {
  padding: ($gutter * 2.5) 0 ($gutter * 5) 0;
  text-align: center;
  color: $white;
  background-image: linear-gradient(180deg, #0a163c00 0%, #0a163c 100%),
    url(../media/images/background.png);
  background-blend-mode: normal, overlay;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter * 2;
    font-size: 26px;

    @include respond-to("medium") {
      font-size: 42px;
    }
  }

  &__sub-header {
    margin: 0;
    padding-bottom: $gutter * 2;
    font-size: 20px;
    line-height: 35px;

    @include respond-to("medium") {
      font-size: 30px;
      line-height: 42px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: ($gutter / 2) 0;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background: linear-gradient(180deg, #f89b11 0%, #f85611 100%);
    border: 1px solid $white;
    box-shadow: 0px 3px 6px #00000070;

    @include respond-to("medium") {
      width: 254px;
      height: 72px;
      font-size: 24px;
    }
  }
}
