.ctas {
  padding: ($gutter * 2) 0;
  color: $white;
  background-image: url(../media/images/ctas-background.png);

  @include respond-to("medium") {
    padding: ($gutter * 3) 0;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter * 2;
    font-size: 30px;
    color: $white;
    text-align: center;

    &--highlighted {
      color: rgb(254, 195, 9);
    }

    @include respond-to("medium") {
      font-size: 40px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-to("medium") {
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    margin: 0 0 $gutter 0;
    padding: $gutter;
    border-radius: 10px;
    background: $white;
    border: 1px solid black;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to("medium") {
      flex-direction: row;
      margin: 0 $gutter 0 0;
      max-width: 230px;
    }
  }

  &__brand {
    width: 100%;
    margin-bottom: $gutter;
  }

  &__button {
    width: 100%;
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg, #f89b11 0%, #f85611 100%);
    border: 1px solid $white;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 3px 6px #00000070;
  }
}
