.guide {
  font-size: 13px;

  @include respond-to("medium") {
    font-size: 18px;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter * 1.25;
    text-align: center;
    font-size: 26px;

    @include respond-to("medium") {
      text-align: left;
      font-size: 42px;
    }

    &--highlighted {
      color: #1a2871;
    }
  }

  &__sub-header {
    margin: 0;
    padding-bottom: $gutter / 2;
    text-align: center;
    font-size: 20px;

    @include respond-to("medium") {
      text-align: left;
      font-size: 30px;
    }
  }

  &__sub-sub-header {
    margin: 0;
    padding-bottom: $gutter;
    text-align: center;
    font-weight: 400;

    @include respond-to("medium") {
      text-align: left;
    }
  }

  &__list {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;

    @include respond-to("medium") {
      padding: 0 0 ($gutter * 1.5) 0;
    }
  }

  &__list-item {
    display: flex;
    margin-bottom: $gutter;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #dddddd;
  }

  &__list-bullet {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    min-width: 50px;
    margin-right: $gutter;
    padding-top: $gutter;
    font-size: 26px;

    @include respond-to("medium") {
      font-size: 36px;
    }

    &--colored {
      justify-content: center;
      min-width: 60px;
      background: #f7f9fb;
    }

    img {
      display: block;
    }
  }

  &__list-text {
    padding: $gutter $gutter $gutter 0;
    line-height: 24px;
  }

  &__cta {
    display: block;
    margin-bottom: $gutter;
    padding: $gutter;
    border-radius: 10px;
    font-size: 24px;
    background: linear-gradient(180deg, #253b80 0%, #0c1b4a 100%);
    border: 1px solid black;

    @include respond-to("medium") {
      display: none;
    }

    &--sticky {
      display: none;
      position: sticky;
      top: 10px;

      @include respond-to("medium") {
        display: block;
      }
    }
  }

  &__sidebar-header {
    margin: 0;
    padding-bottom: $gutter;
    text-align: center;
    color: $white;
  }

  &__btn {
    display: inline-block;
    width: 100%;
    padding: $gutter 0;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(180deg, #f89b11 0%, #f85611 100%);
    border: 1px solid $white;
    border-radius: 2px;
    box-shadow: 0px 3px 6px #00000070;
    color: white;
    text-decoration: none;
  }
}
