.header {
  margin-bottom: $gutter;

  @include respond-to("medium") {
    margin-bottom: $gutter * 2;
  }

  &__content {
    padding-right: 0;

    @include respond-to("medium") {
      padding-right: $gutter;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: $gutter * 1.5;
    text-align: center;
    font-size: 25px;

    @include respond-to("medium") {
      padding-bottom: $gutter;
      text-align: left;
      font-size: 50px;
    }
  }

  &__sub-title {
    display: none;
    margin: 0;
    padding-bottom: $gutter * 2.5;
    font-size: 20px;
    font-weight: 400;

    @include respond-to("medium") {
      display: block;
    }
  }

  &__features {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;

    @include respond-to("medium") {
      flex-wrap: nowrap;
    }
  }

  &__feature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: $gutter;

    @include respond-to("medium") {
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__feature-icon {
    margin-right: $gutter / 4;
  }

  &__ratings-container {
    display: none;
    justify-content: center;
    align-items: center;

    @include respond-to("medium") {
      display: flex;
    }
  }

  &__ratings {
    display: inline-block;
  }

  &__ratings-wrap {
    display: flex;
    align-items: flex-start;
    padding: $gutter;
    border-radius: 15px;
    border: 1px solid rgba($black, 0.3);
    box-shadow: 0px 2px 5px rgba($black, 0.3);
  }

  &__ratings-icon {
    margin-right: 10px;
  }

  &__ratings-header {
    font-size: 20px;
    font-weight: 600;
  }

  &__ratings-rating {
    display: flex;
    align-items: center;
    margin: $gutter 0 ($gutter / 4) 0;
  }

  &__rating-figure {
    margin-left: $gutter / 4;
    font-size: 25px;
    font-weight: 700;
    color: $green;
  }

  &__ratings-reviews {
    font-weight: 300;
  }
}
