.partner {
  margin-bottom: $gutter * 2;
  border-radius: 10px;
  background: #eeeeee;
  font-size: 13px;

  @include respond-to("large") {
    font-size: 15px;
  }

  @include respond-to("xlarge") {
    font-size: 18px;
  }

  &__block-sm {
    display: block;

    @include respond-to("medium") {
      display: none;
    }
  }

  &__wrapper {
    margin-left: 0px;
    margin-right: 0px;
    padding: ($gutter / 4) 0;

    > div {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  &__logo {
    width: 100%;
    border-radius: 7px 7px 0 0;

    @include respond-to("medium") {
      border-radius: 7px 0 0 0;
    }
  }

  &__info-container {
    padding: 0 ($gutter / 4);

    @include respond-to("medium") {
      padding: 0 ($gutter / 2);
    }

    @include respond-to("large") {
      padding: 0 $gutter;
    }
  }

  &__info {
    padding-top: $gutter;
  }

  &__name {
    margin: 0;
    padding-bottom: $gutter / 4;
    font-size: 17px;

    @include respond-to("large") {
      padding-bottom: $gutter / 2;
      font-size: 22px;
    }

    @include respond-to("xlarge") {
      font-size: 25px;
    }
  }

  &__stars {
    padding-bottom: $gutter / 2;

    img {
      max-width: 20px;
    }
  }

  &__recommend {
    padding-bottom: $gutter / 2;

    &--highlighted {
      margin-right: 5px;
      font-weight: 600;
      color: $green;
    }

    @include respond-to("medium") {
      padding-bottom: $gutter;
    }
  }

  &__description {
    margin: 0;
    padding-bottom: $gutter;
    line-height: 1.4em;
  }

  &__cta {
    width: 100%;
    margin-bottom: $gutter;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(180deg, #f89b11 0%, #f85611 100%);
    border: 1px solid $white;
    box-shadow: 0px 3px 6px #00000070;
    color: white;
    text-decoration: none;

    @include respond-to("large") {
      font-size: 21px;
    }

    @include respond-to("xlarge") {
      font-size: 24px;
    }

    &--sm {
      display: inline-block;
      padding: ($gutter / 2) 0;

      @include respond-to("medium") {
        display: none;
      }
    }
    &--lg {
      display: none;
      padding: $gutter 0;

      @include respond-to("medium") {
        display: inline-block;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--small {
      flex-direction: row;

      div {
        flex: 1;

        &:first-child {
          margin-right: $gutter / 4;

          @include respond-to("medium") {
            margin-right: 0;
          }
        }
      }

      @include respond-to("medium") {
        flex-direction: column;
      }
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter / 4;
    padding: ($gutter) ($gutter) ($gutter / 2) ($gutter);
    background: $white;

    &--button {
      display: flex; 
      align-items: center;
      width: 100%;
      margin-bottom: $gutter / 2;
      padding: ($gutter / 2) 0;
      border: none;
      outline: none;
    }

    &--first {
      @include respond-to("medium") {
        border-radius: 0 7px 0 0;
      }
    }

    &--last {
      @include respond-to("medium") {
        flex-grow: 1;
        margin-bottom: 0;
        border-radius: 0 0 7px 0;
      }
    }
  }

  &__detail-header {
    margin: 0 0 ($gutter / 2) 0;
  }

  &__keyfeatures {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  &__paymentM {
    @include respond-to("small") {
      display: flex;
      justify-content: space-between;
    }

    @include respond-to("large") {
      padding-right: $gutter * 1.5;
    }
  }

  &__support {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: $gutter / 2;
  }

  &__list-icon {
    max-height: 10px;
    margin-right: $gutter / 4;

    @include respond-to("medium") {
      max-height: 14px;
      margin-right: $gutter / 2;
    }
  }

  &__list-tag {
    padding-right: $gutter / 2;

    @include respond-to("large") {
      padding-right: $gutter * 1.5;
    }
  }

  &__figure {
    padding-bottom: $gutter / 2;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    transition: 0.5s;

    &--active {
      max-height: 800px;
    }

    &--inactive {
      max-height: 0px;
      @include respond-to("medium") {
        max-height: 800px;
      }
    }
  }
}
