.partners {
  padding-top: $gutter * 2;
  background: #f4f7fb;

  @include respond-to("medium") {
    padding-top: $gutter * 3;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter * 2;
    text-align: center;
    font-size: 25px;

    @include respond-to("medium") {
      padding-bottom: $gutter * 3;
      font-size: 32px;
    }

    @include respond-to("large") {
      font-size: 40px;
    }
  }
}
