.payments {
  padding: $gutter 0;
  background-image: linear-gradient(white, #eeeeee);

  @include respond-to("small") {
    padding: ($gutter * 2) 0;
  }

  &__header {
    margin: 0 0 $gutter 0;
    text-align: center;

    @include respond-to("small") {
      margin: 0 0 ($gutter * 2) 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include respond-to("small") {
      justify-content: space-between;
    }

    img {
      padding: $gutter;

      @include respond-to("small") {
        padding: 0;
      }
    }
  }
}
