.process {
  padding-top: $gutter * 2;

  @include respond-to("medium") {
    padding-top: $gutter * 3;
  }

  &__header {
    margin: 0 0 ($gutter * 2) 0;
    text-align: center;
    font-size: 25px;

    &--highlighted {
      color: rgb(26, 40, 113);
    }

    @include respond-to("medium") {
      font-size: 35px;
    }

    @include respond-to("large") {
      margin: 0;
      padding: 0 ($gutter * 5) ($gutter * 2.5) ($gutter * 5);
      font-size: 45px;
    }
  }

  &__sub-header {
    display: none;
    margin-bottom: $gutter * 1.5;
    line-height: 1.5em;

    @include respond-to("medium") {
      display: block;
      font-size: 20px;
    }

    @include respond-to("large") {
      font-size: 25px;
    }
  }

  &__start-btn {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg, #f89b11 0%, #f85611 100%);
    border: 1px solid white;
    box-shadow: 0px 3px 6px #00000070;

    &--lg {
      display: none;
      padding: 20px 60px;
      font-size: 25px;

      @include respond-to("large") {
        display: inline-block;
      }
    }

    &--sm {
      display: inline-block;
      width: 100%;
      padding: $gutter 0;
      font-size: 20px;
      text-align: center;

      @include respond-to("large") {
        display: none;
      }
    }
  }

  &__ctgs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ctgs {
    width: 100%;
    margin-bottom: $gutter;
    border-radius: 10px;
    border: 1px solid $grey;

    @include respond-to("large") {
      margin-bottom: 0;
    }
  }

  &__ctgs-header {
    margin-bottom: $gutter;
    padding: $gutter;
    border-bottom: 1px solid $grey;

    @include respond-to("small") {
      margin-bottom: $gutter * 1.5;
    }

    @include respond-to("large") {
      font-size: 20px;
    }
  }

  &__ctgs-items {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__ctg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 $gutter * 2 0;

    @include respond-to("small") {
      justify-content: flex-start;
      margin-bottom: $gutter * 1.5;
      padding: 0 $gutter * 2;
    }

    @include respond-to("medium") {
      // margin-bottom: $gutter * 1.5;
    }
  }

  &__ctg-icon {
    max-width: 30px;

    @include respond-to("medium") {
      max-width: 35px;
    }
  }

  &__ctg-tag {
    margin-left: $gutter / 2;

    @include respond-to("medium") {
      margin-left: $gutter;
      font-size: 20px;
    }
  }
}
