.topCoins {
  padding: $gutter * 2 0;

  @include respond-to("medium") {
    padding: $gutter * 4 0;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter;
    font-size: 20px;
    text-align: center;

    @include respond-to("medium") {
      padding-bottom: $gutter * 2;
      font-size: 30px;
    }
  }

  &__tableph {
    width: 100%;
  }
}
